// COLORS
:root {
  --color-main: #41EAD4;
  --color-alpha-main: rgba(#41EAD4, 0.3);
  --color-bg: #011627;
  --color-btn: #00C9E0;
  --color-cards: #02223B;

  --color-white: #FFFFFF;
  --color-alpha-white: rgba(#fff, 0.5);
  --color-black: #000000;
  --color-alpha-black: rgba(#000, 0.5);

  --color-transparent: transparent;

  --color-box-shadow: rgba(0, 201, 224, 0.2);
}
