// CONTAINER

.header__container {
  max-width: vw(1453); //1423px
  padding: 0 vw(15);
  margin: 0 auto;
}

.hero__container {
  max-width: vw(1470); //1420px
  padding: 0 vw(15);
  margin: 0 auto;
}

.trip__container {
  max-width: vw(1230); //1200px
  padding: 0 vw(15);
  margin: 0 auto;
}

.about-us__container {
  max-width: vw(1232); //1202px
  padding: 0 vw(15);
  margin: 0 auto;
}

.people__container {
  max-width: vw(1074); //1044px
  padding: 0 vw(15);
  margin: 0 auto;
}

.footer__container {
  max-width: vw(1102); //1072px
  padding: 0 vw(15);
  margin: 0 auto;
}